# Dataset de competição

## Fase 0: Imports e Leitura dos Dados

In [15]:
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

# Definir o número máximo de colunas do pandas para 15 
pd.set_option('display.max_columns', 15)

In [16]:
e1 = pd.read_csv('datasets/energia_202109-202112.csv', encoding='latin-1')
e2 = pd.read_csv('datasets/energia_202201-202212.csv', encoding='latin-1')
e3 = pd.read_csv('datasets/energia_202301-202304.csv', encoding='latin-1')

m1 = pd.read_csv('datasets/meteo_202109-202112.csv', encoding='latin-1')
m2 = pd.read_csv('datasets/meteo_202201-202212.csv', encoding='latin-1')
m3 = pd.read_csv('datasets/meteo_202301-202304.csv', encoding='latin-1')

## Fase 1: Exploração dos Dados

### 1.1: Exploção Geral

In [17]:
e1.shape

(2256, 6)

In [18]:
e1.columns

Index(['Data', 'Hora', 'Normal (kWh)', 'Horï¿½rio Econï¿½mico (kWh)',
       'Autoconsumo (kWh)', 'Injeï¿½ï¿½o na rede (kWh)'],
      dtype='object')

In [19]:
e1.head()

,Data,Hora,Normal (kWh),Horï¿½rio Econï¿½mico (kWh),Autoconsumo (kWh),Injeï¿½ï¿½o na rede (kWh)
0,2021-09-29,0,0.0,0.0,0.0,NaN
1,2021-09-29,1,0.0,0.0,0.0,NaN
2,2021-09-29,2,0.0,0.0,0.0,NaN
3,2021-09-29,3,0.0,0.0,0.0,NaN
4,2021-09-29,4,0.0,0.0,0.0,NaN

In [23]:
e1.describe()

,Hora,Normal (kWh),Horï¿½rio Econï¿½mico (kWh),Autoconsumo (kWh)
count,2256.000000,2256.000000,2256.000000,2256.000000
mean,11.500000,0.305831,0.123770,0.103501
std,6.923721,0.374957,0.310305,0.169716
min,0.000000,0.000000,0.000000,0.000000
25%,5.750000,0.000000,0.000000,0.000000
50%,11.500000,0.242000,0.000000,0.000000
75%,17.250000,0.459000,0.000000,0.213250
max,23.000000,2.540000,6.978000,1.016000

In [20]:
m1.shape

(2928, 15)

In [21]:
m1.columns

Index(['dt', 'dt_iso', 'city_name', 'temp', 'feels_like', 'temp_min',
       'temp_max', 'pressure', 'sea_level', 'grnd_level', 'humidity',
       'wind_speed', 'rain_1h', 'clouds_all', 'weather_description'],
      dtype='object')

In [22]:
m1.head()

,dt,dt_iso,city_name,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,wind_speed,rain_1h,clouds_all,weather_description
0,1630454400,2021-09-01 00:00:00 +0000 UTC,local,18.74,18.84,15.72,20.34,1015,NaN,NaN,83,1.18,NaN,78,broken clouds
1,1630458000,2021-09-01 01:00:00 +0000 UTC,local,18.73,18.83,15.72,20.34,1014,NaN,NaN,83,1.46,NaN,92,overcast clouds
2,1630461600,2021-09-01 02:00:00 +0000 UTC,local,17.84,17.98,16.72,20.34,1014,NaN,NaN,88,1.05,NaN,91,overcast clouds
3,1630465200,2021-09-01 03:00:00 +0000 UTC,local,18.27,18.40,16.68,20.34,1014,NaN,NaN,86,0.46,0.14,94,light rain
4,1630468800,2021-09-01 04:00:00 +0000 UTC,local,17.81,17.97,16.12,20.34,1013,NaN,NaN,89,0.93,1.26,95,moderate rain

In [24]:
m1.describe()

,dt,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,wind_speed,rain_1h,clouds_all
count,2.928000e+03,2928.000000,2928.000000,2928.000000,2928.000000,2928.000000,0.0,0.0,2928.000000,2928.000000,537.000000,2928.000000
mean,1.635723e+09,15.571301,15.165546,14.008275,16.367978,1019.203893,NaN,NaN,78.455943,2.591936,0.846890,53.703552
std,3.043386e+06,4.794614,5.223424,4.678427,4.835628,5.241333,NaN,NaN,14.207337,1.315286,1.069043,40.501986
min,1.630454e+09,2.590000,1.290000,-0.640000,4.040000,997.000000,NaN,NaN,27.000000,0.090000,0.100000,0.000000
25%,1.633089e+09,11.887500,11.477500,10.660000,12.857500,1016.000000,NaN,NaN,69.000000,1.687500,0.210000,7.000000
50%,1.635723e+09,15.470000,15.125000,13.945000,15.720000,1020.000000,NaN,NaN,82.000000,2.330000,0.450000,59.000000
75%,1.638357e+09,18.932500,18.852500,17.320000,19.560000,1023.000000,NaN,NaN,91.000000,3.332500,1.000000,97.000000
max,1.640992e+09,33.370000,32.790000,27.890000,35.340000,1031.000000,NaN,NaN,98.000000,11.100000,7.450000,100.000000

### 1.2: Exploração Detalhada

In [26]:
sns.barplot(x='Hora', y='Injeção na rede (kWh)', data=e1)
plt.show()

ValueError: Could not interpret input 'Injeção na rede (kWh)'

## Fase 2: Tratamento de Dados

## Fase 3: Construção e avaliação de modelos ML